body {
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

header {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background: black;
  padding: 10px;
  font-size: 2rem;
  grid-row: 1;
  grid-column: 1 / 5;
}

h1 {
  color: lightgrey;
  font-size: 4rem;
  text-align: center;
  grid-row: 2;
  grid-column: 1/5;
}

div {
  margin: 5% auto;
}

.instruction {
  grid-row: 1;
  grid-column: 3/4;
  margin-left: 2%;
}
.hide {
  color: black !important;
  opacity: 0;
}

.black {
  color: white;
  background: black;
  border-radius: 5%;
}
.green {
  color: white;
  background: green;
  border-radius: 5%;
}
.orange {
  color: white;
  background: orange;
  border-radius: 5%;
}
.purple {
  color: white;
  background: purple;
  border-radius: 5%;
}

/* PANEL DESIGNS */
.game-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 3;
  grid-column: 2/4;
  border: 2px solid white;
  margin-top: 5%;
}

.game-panel div {
  font-size: 2rem;
  text-align: center;
  padding-top: 10%;
  border: 5px solid white;
  margin: 0;
}

.nes-btn .start-panel {
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-weight: bold;
  border: 5px solid black;
  font-size: 2rem;
  text-align: center;
  grid-row: 2;
  grid-column: 1/2;
  width: 100%;
  padding-top: 5%;
  margin-left: 10%;
}


.gameOver {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-weight: bold;
  border: 5px solid black;
  font-size: 2rem;
  text-align: center;
  grid-row: 2;
  grid-column: 4;
  width: 100%;
  padding-top: 10%;
  margin-top: 3%;
}

/* BRONZE STYLING */
.glowEffectBlack {
  box-shadow: 0px 0px 30px 10px black;
}

.glowEffectGreen {
  box-shadow: 0px 0px 30px 10px green;
}

.glowEffectOrange {
  box-shadow: 0px 0px 30px 10px orange;
}

.glowEffectPurple {
  box-shadow: 0px 0px 30px 10px purple;
}

.glowOff {
  box-shadow: 0px;
}
