/* GENERAL STYLING RULES */

body {
  /* margin: 40%; */
  display: grid;
  grid-template-columns: 1px 1fr 1fr 1fr 1fr 1px;
  grid-template-rows: 100px 100px 280px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  grid-gap: 1em;
}

header {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background: black;
  padding: 5px;
  font-size: 2rem;
  grid-row: 1;
  grid-column: 1 / 7;
}
div {
  margin: 5% auto;
}

h1 {
  color: lightgrey;
  font-size: 4rem;
  text-align: center;
  /* grid-row: 2; */
  /* grid-column: 2/6; */
}

.instructions {
  grid-row: 2;
  grid-column: 2/3;
}

.lists{
  grid-row: 3;
  grid-column: 2/3;
}

ul li {
  padding: 3% 0;
}

.hide {
  color: black;
  opacity: 0;
}

.black {
  color: white;
  background: black;
  border-radius: 5%;
}
.green {
  color: white;
  background: green;
  border-radius: 5%;
}
.orange {
  color: white;
  background: orange;
  border-radius: 5%;
}
.purple {
  color: white;
  background: purple;
  border-radius: 5%;
}

/* PANEL DESIGNS */
.game-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 3;
  grid-column: 3/5;
  border: 2px solid white;
  margin-top: 5%;
}

.game-panel div {
  font-size: 2rem;
  text-align: center;
  padding-top: 10%;
  border: 5px solid white;
  margin: 0;
}

.start-panel {
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-weight: bold;
  border: 5px solid black;
  font-size: 2rem;
  text-align: center;
  grid-row: 2;
  grid-column: 3/5;
  width: 100%;
}

.gameOver {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-weight: bold;
  border: 5px solid rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  grid-row: 2;
  grid-column: 5;
  width: 100%;
  padding-top: 10%;
}

/* BRONZE STYLING */
.glowEffectBlack {
  box-shadow: 0px 0px 30px 10px black;
  background: black;
}

.glowEffectGreen {
  box-shadow: 0px 0px 30px 10px green;
  background: green;
}

.glowEffectOrange {
  box-shadow: 0px 0px 30px 10px orange;
  background: orange;
}

.glowEffectPurple {
  box-shadow: 0px 0px 30px 10px purple;
  background: purple;
}

.colorCube {
  border-radius: 90%;
  grid-row: 4;
  grid-column: 3/5;
  border: 5px solid black;
  padding: 10%;
}
